section.aboutpage {
  margin-top: 0;
  padding-top: 150px;
  background-image: linear-gradient(
          to bottom,
          rgba(255, 209, 209, 0.452),
          rgba(232, 232, 232, 0.932),
          rgb(255, 255, 255)
        ),
        url("../images/header3.jpg");
    padding-top: 150px;
    padding-bottom: 50px;
    // min-height: 100vh;
  h2,
  p {
    text-align: center;
  }
  .proudlys{
    margin-top: 50px;
    .proudlys-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .proudly{
        display: flex;
        width: 48%;
        margin-top:20px ;
        p{
          text-align: left;
          margin: 0 0 0 5px;
        }
      }
    }
  }
  .infoabout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
    background-image: linear-gradient(rgba(221, 221, 221, 0),#fdfcfcd0);
    .logo {
    //   width: 49%;
    //   width: 49%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      img {
        width: 100%;
        max-width: 600px;
        filter: invert(65%) sepia(0%) saturate(63%) hue-rotate(140deg)
          brightness(96%) contrast(73%);
      }
    }
    .info {
        // background-color: $graycolor;
        // width: 28%;
        // height: 287px;
           color:$primaryfootercolor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        text-align: center;
        line-height: 13px;
        padding: 10px 25px;
        h4 {
           white-space: nowrap;
           i{
           margin-right: 10px;
           }
        }
        span {
           display: block;
           font-size: clamp(10px, 1.5vw, 14px);
        }
        div{
            margin-bottom: 20px;
        }
     }
  }
}
.staf{
    margin-bottom: 50px;
    h2{
        text-align: center;
        margin-bottom: 50px;
    }
    .card {
        box-shadow: 0px 0px 20px -10px;
        border: none;
        overflow: hidden;
        .card-body {
          display: flex;
          flex-direction: column;
          background-color: $graycolor;
          p {
            line-height: 1.2em;
            font-size: clamp(10px, 2.5vw, 15px);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5; /* number of lines to show */
            line-clamp: 5;
            -webkit-box-orient: vertical;
          }
          .reat {
                font-size: clamp(16px, 2.5vw, 20px);
                margin-top: auto;
          }
        }
      }
}