footer {
  background-color: $graycolor;
  color: $browncolor;
  padding-top: 30px;
  padding-bottom: 25px;
  overflow: hidden;
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    .fo-logo {
      @media (max-width: 767px) {
        text-align: center;
      }
      a {
        img {
          width: 100%;
          filter:  invert(20%) sepia(6%) saturate(4074%) hue-rotate(334deg) brightness(103%) contrast(83%);
          @media (max-width: 767px) {
            width: 80%;
          }
        }
      }
      ul {
        line-height: 2rem;
        padding-left: 1rem;
        margin-top: 10px;
        a {
          display: inline-block;
          padding: 3px;
          margin-right: 3px;
          text-decoration: underline;
          color: $browncolor;
          font-weight: bold;
        }
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      line-height: 15px;
      padding: 10px 25px;
      @media (max-width: 767px) {
        padding: 0px;
      }
      h4 {
        white-space: nowrap;
        margin: 0;
        i {
          margin-right: 10px;
        }
      }
      span {
        display: block;
        font-size: clamp(13px, 1.5vw, 14px);
      }
      div {
        margin-bottom: 20px;
        @media (max-width: 767px) {
          margin-bottom: 10px;
        }
      }
    }

    .fo-about {
      p {
        line-height: 1.5rem;
      }
      .socail {
        @media (max-width: 767px) {
          text-align: center;
        }
        a {
          font-size: clamp(20px, 4vw, 30px);
          display: inline-block;
          padding: 5px;
          cursor: pointer;
          background-color: $browncolor;
          border-radius: 3px;
          font-size: 20px;
          color: $graycolor;
          margin-right: 5px;
          i {
            margin: 5px;
          }
        }
      }
    }
  }
  .cr {
    color: $browncolor;
    width: 72%;
    border-top: solid 2px $browncolor;
    text-align: center;
    margin: 25px auto 0 auto;
    padding: 25px 0 0 0;
    @media (max-width: 767px) {
      width: 90%;
      font-size: smaller;
    }
  }
}
