#carouselExampleControls {
  height: 100vh;
  overflow: hidden;
  position: relative;
  .header {
    position: absolute;
    z-index: 2;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      display: inline-block;
      font-size: 86px;
      text-shadow: 2px 2px 5px #000;
      white-space: nowrap;
      span {
        font-weight: 100;
        letter-spacing: -5px;
      }
    }
  }
  .logo {
    display: none;
  }
  .carousel-inner {
    height: 100%;
    .carousel-item {
      height: 100%;
      overflow: hidden;
      img {
        position: absolute;
        min-width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  button{
      opacity: 1;
      font-size: 2em;
      i{
          transform: rotateZ(-135deg);
          color:#fff;
      }
      .second{
        transform: rotateZ(45deg);
      }
  }
}
@media (max-width: 992px) {
  #carouselExampleControls {
    .header {
      h1 {
        display: none;
      }
      .logo {
        display: block;
        width: 100%;
        min-width: 250px;
        img {
          width: 100%;
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
        }
        p {
          font-size: clamp(10px, 2.5vw, 15px);
          text-align: center;
          margin-top: 30px;
          line-height: 1em;
          font-weight: 300;
          text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
}
