section.menuoftheday {
  position: relative;
  margin-top: 50px;
  margin-bottom: 200px;
  .pepper {
    position: absolute;
  }
  .menu {
    width: 70%;
    background-image: linear-gradient(to bottom, #5c3d2e8a, #5c3d2e8a),
      url("../images/logo.svg");
    background-size: 101px;
    box-shadow: 698px 0px 86px -100px $bodyBG inset;
    .menu-items {
      padding: 10px 40px;
      @media (max-width: 991px) {
        padding: 5px 20px;
        padding-left: 0;
      }
      .menu-item {
        height: 10em;
        display: flex;
        padding: 10px;
        @media (max-width: 767px) {
          justify-content: center;
          height: 7.5em;
        }
        .food-info {
          padding: 0px 20px;
          @media (max-width: 767px) {
            display: none;
          }
          p {
            line-height: 1em;
            font-size: clamp(12px, 1vw, 16px);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4;
            -webkit-box-orient: vertical;
          }
          button {
            float: right;
            min-width: 20%;
            background-color: $graycolor;
          }
        }
        .motdi {
          object-fit: cover;
          aspect-ratio: 1/1;
        }
      }
    }
    @media (max-width: 991px) {
      box-shadow: 498px 0px 86px -100px $bodyBG inset;
    }
    @media (max-width: 767px) {
      box-shadow: 298px 0px 86px -100px $bodyBG inset;
      width: 60%;
    }
  }
  .chef {
    position: absolute;
    top: 0;
    right: 0;
    @media (max-width: 767px) {
      width: 312px;
      height: 488px;
      top: 20px;
    }
    img {
      position: absolute;
      right: 145px;
      @media (max-width: 1399px) {
        right: 92px;
      }
      @media (max-width: 1199px) {
        right: 38px;
      }
      @media (max-width: 991px) {
        right: -35px;
      }
      @media (max-width: 767px) {
        position: initial;
        width: 100%;
      }
    }
  }
}
