
    .menu-page {
      background-image: linear-gradient(
          to bottom,
          rgba(126, 0, 2, 0.452),
          rgba(232, 232, 232, 0.748),
          rgba(255, 255, 255, 0.637)
        ),
        url("../images/header3.jpg");
    padding-top: 150px;
    padding-bottom: 50px;
    min-height: 100vh;
    h2 {
      color: rgb(245, 245, 245);
      text-align: center;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap:wrap;
      padding: 0;
      margin: 36px 0;
      a{
        margin: 0 2vw;
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        width: fit-content;
        transition: 0.3s;
        &:hover, &:focus{
            box-shadow: 0px -3px 0px -1px #fff inset;
            transform: scale(1.1);
        }
        li {
            display: inline-block;
          }
      }
    }
    .card {
      box-shadow: 0px 0px 20px -10px;
      background-color: $graycolor;
      .col-9 {
      }
      .card-body {
        display: flex;
        flex-direction: column;
        height: 100%;
        p {
          line-height: 1rem;
          margin: 0;
          font-size: clamp(10px, 1vw, 16px);
        }
        .price{
          text-align: center;
          width: 100px;
          padding: 10px;
          border-radius: 5px;
          margin-top: auto;
          background-color: $browncolor;
          color:#fff;
          align-self: end;
        }
      }
    }
  }

@media (max-width: 580px) {
  .menu-page {
    .card {
      .card-body {
        padding: 5px;
        h6 {
          margin: 0;
        }
      }
    }
  }
}
