nav {
  position: absolute !important;
  z-index: 2;
  background-image: linear-gradient(#000000, #00000000);
  width: 100%;
  height: 150px;

  .logo {
    a {
      img {
        width: 37%;
        max-width: 70rem;
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
      }
    }
  }

  .navbar-toggler {
    box-shadow: none !important;
    border: none !important;
    i {
      color: #fff;
      font-size: clamp(30px, 4vw, 40px);
      border: none;
    }
  }
  .socail {
    @media (min-width: 992px) {
        right: 15px;
        position: absolute;
        top: 18px;
        a {
          margin: 0 5px;
        }
    }
    a {
      font-size: clamp(20px, 1.5vw, 30px);
      color: #fff;
      margin: 0 10px;
      i:hover {
        transition: 0.3s;
        transform: scale(1.1);
      }
      @media (min-width: 992px) {
            margin: 0 5px;
          }
    }
  }
  #navbarTogglerDemo01 {
    ul {
      li {
        color: #fff;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        margin-left: 70px;
        font-size: 20px;
        &:hover, &:active {
          transform: scale(1.15);
          box-shadow: 0px -4px 0px -2px white inset;
          @media (max-width:992px) {
            transform: none;
          }
        }
        a {
          color: #fff;
        }
        @media (max-width:992px) {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  nav {
    height: auto;
    background-image: linear-gradient(#000000, #00000063);
    .navbar-brand {
      display: none;
    }
  }
  nav {
    .socail {
      a {
        margin: 0 5px;
      }
    }
  }
}
