* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  color: #472718;
}

body h2 {
  color: #472718;
}

@media (max-width: 767px) {
  body h2 {
    text-align: center;
  }
}

body .herds,
body .herds2,
body .tomato,
body .pepper,
body .tomato2 {
  position: absolute;
  width: 20%;
  max-width: 300px;
  top: 98vh;
  right: 0;
  z-index: 3;
  overflow: hidden;
}

body .herds img,
body .herds2 img,
body .tomato img,
body .pepper img,
body .tomato2 img {
  width: 100%;
  position: relative;
  left: 50%;
}

body .herds2 {
  left: 0;
  top: 87vh;
}

body .herds2 img {
  -webkit-transform: rotatey(180deg);
          transform: rotatey(180deg);
  left: -50%;
}

body .tomato {
  top: 140vh;
  max-width: 170px;
}

body .tomato img {
  left: 45%;
}

body .pepper img {
  left: 35%;
}

body .tomato2 {
  left: 0;
}

body .tomato2 img {
  left: -25%;
}

@media (max-width: 600px) {
  body .herds,
  body .herds2,
  body .tomato,
  body .tomato2 {
    width: 100px;
  }
  body .herds img,
  body .herds2 img,
  body .tomato img,
  body .tomato2 img {
    left: 60%;
  }
  body .herds2 {
    top: 95vh;
  }
  body .herds2 img {
    left: -50%;
  }
  body .tomato {
    top: 155vh;
  }
  body .tomato2 img {
    left: -22%;
  }
}

.inline-photo {
  opacity: 0;
  -webkit-transform: translateY(7em) rotateZ(0deg);
          transform: translateY(7em) rotateZ(0deg);
  -webkit-transition: opacity 1s 0.2s ease-out, -webkit-transform 1s 0.2s;
  transition: opacity 1s 0.2s ease-out, -webkit-transform 1s 0.2s;
  transition: transform 1s 0.2s, opacity 1s 0.2s ease-out;
  transition: transform 1s 0.2s, opacity 1s 0.2s ease-out, -webkit-transform 1s 0.2s;
  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
}

.is-visible {
  -webkit-transform: none;
          transform: none;
}

nav {
  position: absolute !important;
  z-index: 5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#00000000));
  background-image: linear-gradient(#000000, #00000000);
  width: 100%;
  height: 150px;
}

nav .logo a img {
  width: 50%;
  max-width: 70rem;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

nav .navbar-toggler {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
}

nav .navbar-toggler i {
  color: #fff;
  font-size: clamp(30px, 4vw, 40px);
  border: none;
}

@media (min-width: 992px) {
  nav .socail {
    right: 15px;
    position: absolute;
    top: 18px;
  }
  nav .socail a {
    margin: 0 5px;
  }
}

nav .socail a {
  font-size: clamp(20px, 1.5vw, 30px);
  color: #fff;
  margin: 0 10px;
}

nav .socail a i:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 992px) {
  nav .socail a {
    margin: 0 5px;
  }
}

nav .navbar-collapse {
  width: 100%;
}

nav #navbarTogglerDemo01 ul {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

nav #navbarTogglerDemo01 ul :first-child {
  margin-left: 0;
}

nav #navbarTogglerDemo01 ul li {
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  margin-left: 50px;
  font-size: 20px;
}

nav #navbarTogglerDemo01 ul li:hover, nav #navbarTogglerDemo01 ul li:active {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 0px -4px 0px -2px white inset;
          box-shadow: 0px -4px 0px -2px white inset;
}

@media (max-width: 992px) {
  nav #navbarTogglerDemo01 ul li:hover, nav #navbarTogglerDemo01 ul li:active {
    -webkit-transform: none;
            transform: none;
  }
}

nav #navbarTogglerDemo01 ul li a {
  color: #fff;
}

@media (max-width: 992px) {
  nav #navbarTogglerDemo01 ul li {
    margin: 0;
  }
}

@media (max-width: 992px) {
  nav {
    height: auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#00000063));
    background-image: linear-gradient(#000000, #00000063);
  }
  nav .navbar-brand {
    display: none;
  }
  nav .socail a {
    margin: 0 5px;
  }
}

#carouselExampleControls {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#carouselExampleControls .header {
  position: absolute;
  z-index: 2;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#carouselExampleControls .header h1 {
  display: inline-block;
  font-size: 86px;
  text-shadow: 2px 2px 5px #000;
  white-space: nowrap;
}

#carouselExampleControls .header h1 span {
  font-weight: 100;
  letter-spacing: -5px;
}

#carouselExampleControls .logo {
  display: none;
}

#carouselExampleControls .carousel-inner {
  height: 100%;
}

#carouselExampleControls .carousel-inner .carousel-item {
  height: 100%;
  overflow: hidden;
}

#carouselExampleControls .carousel-inner .carousel-item img {
  position: absolute;
  min-width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#carouselExampleControls button {
  opacity: 1;
  font-size: 2em;
}

#carouselExampleControls button i {
  -webkit-transform: rotateZ(-135deg);
          transform: rotateZ(-135deg);
  color: #fff;
}

#carouselExampleControls button .second {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

@media (max-width: 992px) {
  #carouselExampleControls .header h1 {
    display: none;
  }
  #carouselExampleControls .header .logo {
    display: block;
    width: 100%;
    min-width: 250px;
  }
  #carouselExampleControls .header .logo img {
    width: 100%;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
            filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  }
  #carouselExampleControls .header .logo p {
    font-size: clamp(10px, 2.5vw, 15px);
    text-align: center;
    margin-top: 30px;
    line-height: 1em;
    font-weight: 300;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  }
}

section.about {
  position: relative;
  margin: 50px auto;
  z-index: 4;
}

section.about p {
  margin: 10px 0 10px 5px;
  line-height: 1.2em;
  font-size: clamp(10px, 2.5vw, 15px);
}

@media (max-width: 992px) {
  section.about {
    text-align: center;
  }
}

section.products h2 {
  margin-bottom: 30px;
}

section.products .card {
  -webkit-box-shadow: 0px 0px 20px -10px;
          box-shadow: 0px 0px 20px -10px;
  border: none;
  overflow: hidden;
}

@media (max-width: 767px) {
  section.products .card {
    text-align: center;
  }
}

section.products .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

section.products .card .card-body p {
  line-height: 1.2em;
  font-size: clamp(10px, 2.5vw, 15px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

section.products .card .card-body .reat {
  font-size: clamp(16px, 2.5vw, 20px);
  margin-top: auto;
}

section.products .card img {
  aspect-ratio: 1/1;
}

section.menuoftheday {
  position: relative;
  margin-top: 50px;
  margin-bottom: 200px;
}

section.menuoftheday .pepper {
  position: absolute;
}

section.menuoftheday .menu {
  width: 70%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(rgba(232, 232, 232, 0.748)), to(white)), url("../images/logo.svg");
  background-image: linear-gradient(to bottom, white, rgba(232, 232, 232, 0.748), white), url("../images/logo.svg");
  background-size: 101px;
  -webkit-box-shadow: 698px 0px 86px -100px white inset;
          box-shadow: 698px 0px 86px -100px white inset;
}

section.menuoftheday .menu .menu-items {
  padding: 10px 40px;
}

@media (max-width: 991px) {
  section.menuoftheday .menu .menu-items {
    padding: 5px 20px;
    padding-left: 0;
  }
}

section.menuoftheday .menu .menu-items .menu-item {
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

@media (max-width: 767px) {
  section.menuoftheday .menu .menu-items .menu-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 7.5em;
  }
}

section.menuoftheday .menu .menu-items .menu-item .food-info {
  padding: 0px 20px;
}

@media (max-width: 767px) {
  section.menuoftheday .menu .menu-items .menu-item .food-info {
    display: none;
  }
}

section.menuoftheday .menu .menu-items .menu-item .food-info p {
  line-height: 1em;
  font-size: clamp(12px, 1vw, 16px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

section.menuoftheday .menu .menu-items .menu-item .food-info button {
  float: right;
  min-width: 20%;
  background-color: #472718;
}

section.menuoftheday .menu .menu-items .menu-item .motdi {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}

@media (max-width: 991px) {
  section.menuoftheday .menu {
    -webkit-box-shadow: 498px 0px 86px -100px white inset;
            box-shadow: 498px 0px 86px -100px white inset;
  }
}

@media (max-width: 767px) {
  section.menuoftheday .menu {
    -webkit-box-shadow: 298px 0px 86px -100px white inset;
            box-shadow: 298px 0px 86px -100px white inset;
    width: 60%;
  }
}

section.menuoftheday .chef {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 767px) {
  section.menuoftheday .chef {
    width: 312px;
    height: 488px;
    top: 20px;
  }
}

section.menuoftheday .chef img {
  position: absolute;
  right: 145px;
}

@media (max-width: 1399px) {
  section.menuoftheday .chef img {
    right: 92px;
  }
}

@media (max-width: 1199px) {
  section.menuoftheday .chef img {
    right: 38px;
  }
}

@media (max-width: 991px) {
  section.menuoftheday .chef img {
    right: -35px;
  }
}

@media (max-width: 767px) {
  section.menuoftheday .chef img {
    position: initial;
    width: 100%;
  }
}

section.contact-container h2 {
  margin-bottom: 50px;
}

section.contact-container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.contact-container .contact form.form-floating {
  width: 70%;
}

section.contact-container .contact form.form-floating input,
section.contact-container .contact form.form-floating textarea,
section.contact-container .contact form.form-floating .form-control {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f6f6f6;
  color: #472718;
  margin-bottom: 10px;
}

section.contact-container .contact form.form-floating textarea.form-control {
  resize: none;
  height: 150px;
  margin-bottom: 20px;
}

section.contact-container .contact form.form-floating input[type="submit"] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #472718;
  color: #fff;
  padding: 10px 20px;
}

@media (max-width: 767px) {
  section.contact-container .contact form.form-floating {
    width: 100%;
    text-align: center;
  }
}

section.contact-container .contact .info {
  background-color: #f6f6f6;
  width: 28%;
  height: 287px;
  color: #676767;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  line-height: 13px;
  padding: 10px 25px;
}

section.contact-container .contact .info h4 {
  white-space: nowrap;
}

section.contact-container .contact .info span {
  display: block;
  font-size: clamp(10px, 1.5vw, 14px);
}

@media (max-width: 767px) {
  section.contact-container .contact .info {
    display: none;
  }
}

footer {
  background-color: #f6f6f6;
  color: #676767;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .s-l-b {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container .s-l-b .socail a {
  font-size: clamp(20px, 4vw, 30px);
}

footer .container .s-l-b .socail a i {
  color: #676767;
  margin: 20px 20px 20px 0;
}

@media (max-width: 767px) {
  footer .container .s-l-b .socail a i {
    margin: 0 10px 20px 0;
  }
}

footer .container .s-l-b a img {
  width: 50%;
  -webkit-filter: invert(65%) sepia(0%) saturate(63%) hue-rotate(140deg) brightness(96%) contrast(73%);
          filter: invert(65%) sepia(0%) saturate(63%) hue-rotate(140deg) brightness(96%) contrast(73%);
}

@media (max-width: 767px) {
  footer .container .s-l-b a img {
    width: 70%;
  }
}

footer .container .s-l-b p {
  line-height: 1.2em;
  font-size: clamp(10px, 2.5vw, 15px);
  margin: 10px 0 10px 12px;
}

footer .container .s-l-b button {
  width: 30%;
  text-align: center;
  background-color: #676767;
  color: #fff;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (max-width: 767px) {
  footer .container .s-l-b button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

footer .container .info {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .info .sinfo1, footer .container .info .sinfo2 {
  width: 48%;
}

footer .container .info .sinfo1 p, footer .container .info .sinfo2 p {
  line-height: 1.2em;
  font-size: clamp(10px, 2.5vw, 15px);
}

@media (max-width: 767px) {
  footer .container .info .sinfo1 {
    width: 100%;
  }
  footer .container .info .sinfo2 {
    display: none;
  }
}

.menu-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 0, 2, 0.452)), color-stop(rgba(232, 232, 232, 0.748)), to(rgba(255, 255, 255, 0.637))), url("../images/header3.jpg");
  background-image: linear-gradient(to bottom, rgba(126, 0, 2, 0.452), rgba(232, 232, 232, 0.748), rgba(255, 255, 255, 0.637)), url("../images/header3.jpg");
  padding-top: 150px;
  padding-bottom: 50px;
  min-height: 100vh;
}

.menu-page h2 {
  color: whitesmoke;
  text-align: center;
}

.menu-page ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 36px 0;
}

.menu-page ul a {
  margin: 0 2vw;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-page ul a:hover, .menu-page ul a:focus {
  -webkit-box-shadow: 0px -3px 0px -1px #fff inset;
          box-shadow: 0px -3px 0px -1px #fff inset;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu-page ul a li {
  display: inline-block;
}

.menu-page .card {
  -webkit-box-shadow: 0px 0px 20px -10px;
          box-shadow: 0px 0px 20px -10px;
  background-color: #f6f6f6;
}

.menu-page .card .card-body p {
  line-height: 1rem;
  margin: 0;
  font-size: clamp(10px, 1vw, 16px);
}

@media (max-width: 580px) {
  .menu-page .card .card-body {
    padding: 5px;
  }
  .menu-page .card .card-body h6 {
    margin: 0;
  }
}

section.aboutpage {
  margin-top: 0;
  padding-top: 150px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 209, 0.452)), color-stop(rgba(232, 232, 232, 0.932)), to(white)), url("../images/header3.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 209, 209, 0.452), rgba(232, 232, 232, 0.932), white), url("../images/header3.jpg");
  padding-top: 150px;
  padding-bottom: 50px;
}

section.aboutpage h2,
section.aboutpage p {
  text-align: center;
}

section.aboutpage .infoabout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  border-radius: 10px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 221, 221, 0)), to(#fdfcfcd0));
  background-image: linear-gradient(rgba(221, 221, 221, 0), #fdfcfcd0);
}

section.aboutpage .infoabout .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

section.aboutpage .infoabout .logo img {
  width: 100%;
  max-width: 600px;
  -webkit-filter: invert(65%) sepia(0%) saturate(63%) hue-rotate(140deg) brightness(96%) contrast(73%);
          filter: invert(65%) sepia(0%) saturate(63%) hue-rotate(140deg) brightness(96%) contrast(73%);
}

section.aboutpage .infoabout .info {
  color: #676767;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  line-height: 13px;
  padding: 10px 25px;
}

section.aboutpage .infoabout .info h4 {
  white-space: nowrap;
}

section.aboutpage .infoabout .info h4 i {
  margin-right: 10px;
}

section.aboutpage .infoabout .info span {
  display: block;
  font-size: clamp(10px, 1.5vw, 14px);
}

section.aboutpage .infoabout .info div {
  margin-bottom: 20px;
}

.staf {
  margin-bottom: 50px;
}

.staf h2 {
  text-align: center;
  margin-bottom: 50px;
}

.staf .card {
  -webkit-box-shadow: 0px 0px 20px -10px;
          box-shadow: 0px 0px 20px -10px;
  border: none;
  overflow: hidden;
}

.staf .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.staf .card .card-body p {
  line-height: 1.2em;
  font-size: clamp(10px, 2.5vw, 15px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.staf .card .card-body .reat {
  font-size: clamp(16px, 2.5vw, 20px);
  margin-top: auto;
}
/*# sourceMappingURL=index.css.map */